<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://3.26.177.93:4000/fav_icon_marine.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

</head>
<style type="text/css">
    * {
        font-family: "Poppins", sans-serif;
    }
</style>

<body  style="background-color: #f2f4f6;">
    <div style="height: 100vh;overflow-y: auto;display: flex;">
        <table
            style="max-width: 600px;width:100%;border-radius: 10px; box-shadow: 4px 16px 25px rgb(0 0 0 / 12%); background-color: #fff;  border-collapse: collapse; margin: auto;height: auto; max-height: 700px; overflow-y: auto;">
            <tr>
                <td style=" padding: 30px; background-color:#121C35 ;">
                    <h2 style="color: #fff; margin: 0px;">
                        <img src="../public/images/logo.png"
                            style="width:220px;object-fit: contain; margin-inline:auto; display: block;">
                    </h2>
                </td>
            </tr>
            <tr>
                <td style=" padding-top: 50px;padding-inline:30px">
                    <img src="../public/images/not-verify_img.jpg"
                        style="width:120px; margin-inline:auto; display: block;">
                  <h1 style="font-size: 20px; line-height: 24px;  font-weight: 600; text-align: center; text-decoration: none; color: #000000;">Not Verify!
                  </h1>
                  <p style="text-align: center;">
                    We noticed that you haven't verified your account yet. To ensure you can access all the features and benefits of our service, please complete the verification process by following the link below:
                  </p>

                  <button type="submit" id="submitButton" style="background-color:#0BD2F1; border-color:#0BD2F1; display: inline-block;
    display: inline-block;
    padding: 21px 24px;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    z-index: 1;
    margin-top: 24px;
    width: fit-content;
    line-height: 0px;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    display: block;" >
          
        Verify Account
        </button>
                    <div style="padding-top: 50px;">
                        <h4 style="margin-bottom: 10px">Cheers,</h4>
                        <p style="margin-top: 0px;">Remit Go Team </p>
                    </div>
                </td>
            </tr>

            <tr style="background-color: #121C35;">
                <td style="padding:30px">
                    <p style="margin-bottom:10px; margin-top: 0px; text-align:center; color:#fff">Need More Help?</p>
                    <a href="mailto:yash@gmail.com"
                        style="color:#fff; text-decoration: underline; text-align:center; display: block;">We are here
                        to help you out</a>
                </td>
            </tr>
        </table>
    </div>
    </div>
</body>

</html>